.navbar-fragment {
    background-color: #030005;
}


video {
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: var(--sandal);
}

.left-nav {
    color: var(--fragBlue);
    font-weight: bold;
}

.right-nav a {
    color: var(--green);
    text-decoration: none;
}

.nav-links {
    color: var(--sandal);
    font-weight: bold;
    text-decoration: none;
}

video {
    animation: load 1s;
}

.banner-area {
    position: relative;
    /* background-image: url('../images/banner.webp');
    min-height: 120vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 1s; */
}

.team-name {
    color: var(--violet);
    font-size: 50px;
    letter-spacing: 15px;
}

.banner-text {
    position: absolute;
    top: 170px;
    margin-left: 20px;
    color: var(--green);
    font-weight: bolder;
    font-size: 5vw;
    animation: load 1s;
}

@keyframes load {
    from {
        opacity: 0;
        scale: 0.5;
        clip-path: inset(0 100% 0 0);
        filter: grayscale(100%);
    }

    to {
        opacity: 1;
        scale: 1;
        clip-path: inset(0 0 0 0);
        filter: grayscale(0);
    }
}


@keyframes fade {
    from {
        opacity: 0;
        clip-path: inset(0 0 0 100%);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes flipCard {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(180deg);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}