/* :root {
    --green: #ba2233;
    --orange: #f98603;
    --sandal: #fae3cf;
    --fragBlue: #0a0f24;
} */

.navbar-fragment {
    background-color: #030005;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--green);
    padding: 30px 10px;
}

video {
    width: 100%;
}

.left-nav {
    color: var(--fragBlue);
    font-weight: bold;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.nav-links {
    color: var(--sandal);
    font-weight: bold;
    text-decoration: none;
}

.banner-area {
    position: relative;
    background-image: url('../images/banner.webp');
    min-height: 120vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 1s;
}

.team-name {
    color: var(--sandal);
    font-size: 50px;
    letter-spacing: 15px;
}

.banner-text {
    position: absolute;
    top: 170px;
    margin-left: 20px;
    color: var(--green);
    font-weight: bolder;
    font-size: 5vw;
    animation: load 1s;
}

.f {
    animation: load;
    animation-timeline: view();
    animation-range: entry 0 cover 17%;
}